$bg-list: #36382E;
$bg-primay: #ffffff;
$bg-secondary: #FF7D28;
$bg-warn: #FFDF32;
$title: #FDE231;
$bannerTextType: 'Rubik Distressed', cursive;
$bannerUrlOneImg: "../assets/images/banner1.jpg";
$fontFamilyBannerOneImg: 'Rubik Distressed', cursive;